@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Afisare Profil</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-warning p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


<div class="d-flex justify-content-center" style="margin-top:200px;">
    <a class="btn " style="background-color: #85FFBD;width :200px; margin-right : 200px;" href="/Profiles/New">Creeaza Profil</a>
    <a class="btn " style="background-color: #85FFBD;width :200px;" href="/Profiles/Show/@ViewBag.IdU">Vezi Profilul Tau</a>
</div>