@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Afisare Profil</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-warning p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
