 
@{
    ViewBag.Title = "Index";
}
<h2 style = "text-align:center;">Afisare Jurnale</h2>

@if (ViewBag.Message != null)
{
    <h2 class=" p-3 rounded-3 text-center mb-5" style="background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);">
        @ViewBag.Message
    </h2>
}

<br />

@*<div class="talk-bubble tri-right border round btm-left-in">
    <div class="talktext">
        <p>Now we add a border and it looks like a comic. Uses .border .round and .btm-left-in</p>
    </div>
</div>
*@


@foreach (AboutNow.Models.Journal journal in ViewBag.Journals)
{
    <div class="card " style="width : 35rem;
                            margin : 0 auto;
                            float : none;">
       
        @Html.Partial("JournalInfo", journal )

    </div>
    <div class ="d-flex flex-row justify-content-center">
        <a class="btn " style="width :35rem; background-color: #85FFBD;
       background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);" href="/Journals/Show/@journal.Id">Afisare Jurnal</a>
    </div>
    <br />
    <br />
}