 
@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Afisare Jurnale</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-warning p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<div class="d-flex justify-content-center">
    <a class = "btn btn-outline-warning " href ="/Categories/Index">Afisare Categorii</a>
    <br />
    <a class=  "btn btn-outline-warning " href="/Journals/New">Adauga Jurnal</a>
    <br />
</div>

<br />





@foreach (AboutNow.Models.Journal journal in ViewBag.Journals)
{
    <div class="card " style="width : 35rem;
                            margin : 0 auto;
                            float : none;">
       
        @Html.Partial("JournalInfo", journal )

    </div>
    <div class ="d-flex flex-row justify-content-center">
    <a class="btn btn-warning " style="width :35rem;" href="/Journals/Show/@journal.Id">Afisare Jurnal</a>
    </div>
    <br />
    <br />
}